{{#if notyfication }}

    <li class="alert alert-{{ type }} scroller-item" style="{{ alert_style }}">
        <strong>
            <span class="sr-only">Внимание!</span>{{ message }}
        </strong>
    </li>

{{else}}

    <li class="col-lg-12 col-md-12 col-xs-12 list-group-item brick scroller-item" data-id="{{ id }}">

        <div class="col-lg-1 col-md-1 col-xs-2 thumbnail">
            <img src="{{ user_img_url }}" alt="{{ person.last_name }}">
        </div>

        <div class="col-lg-11 col-lg-11 col-xs-10">
            <div class="list-group-item-heading" data-target="#brick-details-{{ id }}" data-toggle="collapse" aria-expanded="false">

                <h3 class="margin-none">
                    <a href="javascript: void(0)" class="ellipsis-box font-size-xs">{{ person.full_name }}</a>
                </h3>

                <p>
                    <span><b>Образование: </b>{{ education }}</span>
                    <br>
                    <span><b>Желаемая занятость: </b>{{ sphere }}</span>
                </p>

            </div>
        </div>

        <div class="pull-right">
            <button type="button" class="actions btn btn-default btn-xs">
                <span class="glyphicon glyphicon-star" aria-hidden="true"></span> Запросить резюме
            </button>
        </div>

        <span class="badge pull-left visible-xs visible-sm">{{ person.organisation }}</span>

        <div class="col-lg-12 col-md-12 col-xs-12 padding-none">
            <div class="collapse list-group-item-text" id="brick-details-{{ id }}">
                <small class="text-muted">создано: {{ created_at }}</small>
                <small class="text-muted pull-right">стаж: {{ work_experience }}</small>

                <pre class="well margin-none"><span>Имеющиеся навыки: {{ skills }}</span><br>{{#if about}}О себе: {{ about }}<br>{{/if}}{{#if hobbies}}Увлечения: {{ hobbies }}<br>{{/if}}</pre>
            </div>
        </div>

        <span class="badge badge-salary pull-right visible-lg visible-md">{{ person.organisation }}</span>

    </li>

{{/if}}